<footer>
    <div class="container">
        <div class="card footer">
            <div class="section footer-top">

                <div class="footer-brand">
                    <a href="#" class="footer-logo">
                        <img src="{{ url_for('static', filename = 'images/logo.svg') }}" width="300" height="auto"
                            loading="lazy" alt="logo">
                    </a>
                    <p class="footer-text">
                    </p>
                    <p class="footer-list-title">Address</p>
                    <address class="footer-text address">
                        Cehennemin Dibi |
                        Kapı : 666 <br>
                    </address>
                </div>

                <div class="footer-list">
                    <p class="footer-list-title">Categories</p>
                    <ul>
                        <li><a href="#" class="footer-link hover-2">Machine</a></li>
                        <li><a href="#" class="footer-link hover-2">Random Parts</a></li>
                        <li><a href="#" class="footer-link hover-2">Practice Parts</a></li>
                        <li><a href="#" class="footer-link hover-2">CNC Parts</a></li>
                        <li><a href="#" class="footer-link hover-2">Gun</a></li>
                        <li><a href="#" class="footer-link hover-2">Defense</a></li>
                        <li><a href="#" class="footer-link hover-2">Industry</a></li>
                        <li><a href="#" class="footer-link hover-2">Structure</a></li>
                    </ul>
                </div>

                <div class="footer-list">
                    <p class="footer-list-title">Contact Me</p>
                    <p class="footer-text">
                        For questions about the website, drawings, or special design plans, please contact me.
                    </p>
                    <div class="input-wrapper">
                        <input type="text" name="name" placeholder="Your name" required class="input-field"
                            autocomplete="off">
                        <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
                    </div>
                    <div class="input-wrapper">
                        <input type="email" name="email_address" placeholder="Emaill address" required
                            class="input-field" autocomplete="off">
                        <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
                    </div>
                    <a href="#" class="btn btn-primary">
                        <span class="span">Contact</span>
                        <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                    </a>
                </div>

            </div>

            <div class="footer-bottom">
                <p class="copyright">&copy; Developed by <a href="#" class="copyright-link">byyKeskin.</a></p>
                <ul class="social-list">
                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-twitter"></ion-icon>
                            <span class="span">Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-linkedin"></ion-icon>
                            <span class="span">LinkedIn</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-instagram"></ion-icon>
                            <span class="span">Instagram</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>