{% extends "layout.html" %}

{% block body %}

{% include "navbar.html" %}


<div class="login-box">

    <form method="post">
        <div class="user-box">
            <input type="text" name="username" required="">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="password" name="password" required="">
            <label>Password</label>
            <dv
        </div>
        <center>
            <button type="submit">
                <a>
                    LOGADMIN
                    <span></span>
                </a>
            </button>
        </center>
    </form>
</div>


{% endblock body %}